{% extends 'base.html.twig' %}

{% block title %}Succès de la commande{% endblock %}

{% block body %}
      <main class="container mt-5 p-3 text-center">
        <h2>Paiement annulé</h2>
        <a href="/" class="btn btn-outline-dark">Retourner à l'accueil</a>
        <a href="/cart" class="btn btn-outline-dark">Retour au panier</a>
      </main>
{% endblock %}
