{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main class="container mt-4 pt-5 text-center text-white">

    <div class="row mt-4">

    <h4>Découvrez notre catalogue riche et varié, des classiques incontournables aux dernières nouveautés. Aventurez-vous dans des histoires captivantes, des héros inoubliables et des mondes qui n’attendent que vous.</h4>
    <a class="btn btn-outline-light mt-auto w-20 fs-3 mt-3" href="/manga">Parcourir le catalogue</a>

    <div class="row mt-4 text-center">
    <div class="col-md-6">
        <h3><b>Les plus populaires</b></h3>

        <!-- Carrousel Bootstrap -->
        <div id="mangaPopulaire" class="carousel slide mt-3" data-bs-ride="carousel" >
            <div class="carousel-inner">
                {% for manga in mangas %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ manga.image }}"
                             class="d-block mx-auto img-fluid rounded"
                             style="max-height: 400px;"
                             alt="{{ manga.title }}">
                        <!--<div class="carousel-item d-none d-md-block rounded p-1 text-center"
                            style ="max-width: 80%;">
                            <h5>{{ manga.title }}</h5>
                        </div>-->
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>

            <div class="position-relative col-md-6 p-2 border border-black border-3 d-flex flex-column bg-white">
                <h5 class="mb-4 p-5 text-black text-center border border-black border-3 rounded-circle">
                    Découvrez notre catalogue riche et varié, des classiques incontournables aux dernières nouveautés. Aventurez-vous dans des histoires captivantes, des héros inoubliables et des mondes qui n’attendent que vous.
                </h5>
                <img src="/images/icone_5.png" 
                            class="position-absolute" 
                            style="top: -100px; left: -150px; width: 200px;">
                <img src="/images/icone_4.png" 
                            class="position-absolute" 
                            style="top: 160px; left: 260px; width: 100px;">
                    <a class="btn btn-sharp btn-outline-dark ms-auto w-50 fs-5 mt-3" href="/manga">Parcourir le catalogue</a>
                <img src="/images/icone_3.png" 
                            class="position-absolute" 
                            style="top: 230px; left: -100px; width: 150px;">
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
